<div class="navigationContainer">
  <button class="headerHamburger">
    <span class="headerHamburgerBar"></span>
    <span class="headerHamburgerBar"></span>
    <span class="headerHamburgerBar"></span>
  </button>

  <div class="headerNav">
    {% for link in section.settings.navigation.links %}
      <span class="headerNavItem">
        <a class="headerNavAnchor" href="{{ link.url }}">
          {{ link.title }}
        </a>

        {% if link.links != blank %}
          <span class="headerSub">
            {% for child in link.links %}
              <span class="headerSubItem">
                <a class="headerSubAnchor" href="{{ child.url }}">
                  {{ child.title }}
                </a>
              </span>
            {% endfor %}
          </span>
        {% endif %}
      </span>
    {% endfor %}
  </div>
  <div class="logoContainer">
    <a href="/"><p class="logo">L A E L</p></a>
  </div>
  <div class="cartContainer">
    <a>CART</a>
  </div>
</div>

<div class="headerOverlay"></div>

<script>
  document.querySelector('.headerHamburger').addEventListener('click', () => {
    document.querySelector('.newHeader').classList.toggle('nav-active');
  });

  document.querySelector('.headerOverlay').addEventListener('click', () => {
    document.querySelector('.newHeader').classList.remove('nav-active');
    console.log('hi');
  });
</script>

{% schema %}
{
  "name": "NewHeader",
  "tag": "header",
  "class": "newHeader",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
