{{ 'homepage.css' | asset_url | stylesheet_tag }}

<div class="homepage-container">
  <div class="homepage-title">
    <h1>INFORMAL STUDIOS</h1>
  </div>
  <video
    class="homepage-video"
    autoplay
    muted
    loop
    playsinline
  >
    <source
      class="video"
      src="https://cdn.shopify.com/videos/c/o/v/c7c6bcaea24c4acd9c48f3181bbe5040.mp4"
      type="video/mp4"
    >
  </video>
</div>
