:root {
  --main-font: "owners-wide", sans-serif;
  --accent-font: "ITC-Century";
  --paragraph-size: 2rem;
  --heading-size: 4rem;
  --accent-size: 3rem;
}

@font-face {
  font-family: "ITC-Century";
  src: url("{{ 'ITC-Century.woff' | asset_url }}") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}