.page-container {
  padding-top: 20px;
  display: flex;
  gap: 15px;
}

.collection-container {
  padding-top: 20px;
  display: flex;
}

.index-container {
  padding-top: 0;
  min-width: 220px;
}

.sub-heading {
  padding-top: 5px;
  font-size: 14px;
  font-style: italic;
  opacity: 0.75;
}

.text-block {
  padding-bottom: 10px;
  font-size: 0.9rem;
}

.media-block {
  width: 100%;
  margin: 0 auto;
}

.media-block img {
  width: 100%;
}

.content-container {
  flex-direction: column;
  padding-bottom: 20px;
  padding-right: 20px;
}

.details-container {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 0.9rem;
  color: rgb(115, 115, 115);
}

.details-title {
  padding-right: 8px;
}

.article-container {
  display: flex;
  gap: 20px;
  padding: 0 10px 10px 15px;
  flex-wrap: wrap;
}

.article-image {
  width: 380px;
  height: 200px;
}

.article-image:hover {
  outline: blue 1px solid;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-image a {
  width: 100%;
  height: 100%;
  display: flex;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.caption-block {
  font-size: 0.85rem;
  color: grey;
}

.details {
  display: flex;
}

@media screen and (width <=768px) {

  .index-container {
    min-width: 150px;
  }

  .media-block {
    width: 100%;
    padding: 20px 0px;
  }

  .text-block {
    padding: 0;
  }

  .caption-block {
    font-size: 0.65rem;
    color: grey;
  }

  .content-container {
    padding-bottom: 30px;
  }

  .collection-container {
    justify-content: space-between;
  }

  .article-image {
    width: 100%;
  }

  .details {
    flex-direction: column;
    padding-bottom: 5px;
  }

  .content-container {
    padding-right: 0px;
  }
}