a:visited {
  all: unset;
}

a {
  text-decoration: none;
}

.productPageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px 50px;
}

.productPageDetailsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 120px;
  right: 40px;
  width: 50vw;
}

.productPageImagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titleContainer {
  font-family: var(--accent-font);
  font-size: 3rem;
  font-weight: 500;
}

.variantsContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 72px;
}

.informationText {
  opacity: 0.5;
}

.productPriceDiv {
  width: 20%;
}

.variantsDiv {
  display: flex;
  gap: 15px;
}

.productPrice {
  font-family: var(--accent-font);
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.informationList {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.informationContainer {
  display: flex;
  width: 100%;
  gap: 72px;
}

.informationTitle {
  width: 20%;
}

.informationText {
  width: 80%;
}

.variantImage {
  width: 100%;
  max-height: 80dvh;
}

.fitImage {
  width: 100%;
  max-height: 80dvh;
  object-fit: cover;
  object-position: center 70%;
  display: block;
}








.variant-option {
  margin-right: 15px;
}

.variant-option input[type="radio"] {
  display: none;
}

.variant-button {
  display: inline-block;
  cursor: pointer;
  color: #888;
  /* Grey for inactive variants */
  transition: all 0.3s ease;
}

.variant-option input[type="radio"]:checked+.variant-button {
  color: #000;
}

.variant-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
  pointer-events: none;
}

.variant-button:hover:not(.disabled) {
  color: #000;
}

.variant-option input[type="radio"]:checked+.variant-button:hover {
  color: #333;
}