* {
  font-family: var(--main-font);
  font-weight: 600;
}

.passwordContainer {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContainer {
  color: black;
  margin-bottom: auto;
  position: relative;
  top: 5%;
}

.logoContainer h1 {
  font-size: var(--logo-size);
}

.newsletter-form {
  margin-bottom: auto;
  width: 50vw;
}

.grecaptcha-badge {
  visibility: hidden;
}

.field__button {
  width: auto;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: var(--paragraph-size);
  transition: opacity 0.2s ease-out;
  color: black;
}

.field__button:hover {
  opacity: 0.55;
}

.field {
  border-bottom: 1px black solid;
  padding-bottom: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.field__input {
  margin-right: auto;
}

input {
  border: none;
  padding: 4px 0 0 1px;
  font-size: var(--paragraph-size);
  width: 80%;
}

.sharingDiv {
  padding-top: 10px;
  color: black;
}

.sharingDiv p {
  font-size: var(--quote-size);
}

.closedSignDiv {
  background-color: #E31500;
  border: solid 8px #e5e5e5;
  margin: 0 0 auto 0;
  font-size: var(--heading-size);
  padding: 10px;
  text-align: center;
  color: white;
  transform: rotate(-3deg);
}

.sorryText {
  font-family: var(--accent-font);
  font-style: italic;
  transform: rotate(-5deg);
}

.closedText {
  font-family: var(--main-font);
  font-size: calc(var(--heading-size) + 1rem);
}

@media screen and (width <= 950px) {
  .newsletter-form {
    width: 90vw;
  }
}