.productPageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.productPageDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.titleContainer {
  font-family: var(--accent-font);
  font-size: 3rem;
  font-weight: 500;
}

.variantsContainer {
  display: flex;
  align-items: flex-end;
  gap: 200px;
}

.informationText {
  opacity: 0.5;
}

.productPrice {
  font-family: var(--accent-font);
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.informationList {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.informationContainer {
  display: flex;
  width: 100%;
  gap: 72px;
}

.informationTitle {
  width: 15%;
}

.informationText {
  width: 80%;
}