{{ 'collection-custom-sections.css' | asset_url | stylesheet_tag }}
{{ 'projects-interviews-writings.css' | asset_url | stylesheet_tag }}

<div class="index-container">
  <p>Index</p>
  {% for indexed_product in collections.projects.products %}
    <div class="product-title-div">
      <a href="{{ indexed_product.url }}" target="_self">
        <p class="product-title {% if template == 'product.projects' and product.handle == indexed_product.handle %}current-product{% endif %}">
          {{ indexed_product.title }}
        </p>
      </a>
    </div>
  {% endfor %}
</div>
